{% extends 'main/layout.html' %}

{% block title %}
    Про нас
{% endblock %}

{% block content%}
    <div class="features">
        <h1>Наши контакты</h1>
        <form action="https://t.me/+7RGRATqdA05kYTIy" target="_blank">
            <p class="contacts_p">Мы в телеграмме :
                <button class="btn_telegramm">Телеграмм</button>
            </p>
        </form>
        <form action="https://en.wikipedia.org/wiki/Instagram" target="_blank">
            <p class="contacts_p">Мы в инсте :
            <button class="btn_insta" >Инстаграм</button>
            </p>
        </form>
    </div>
{% endblock %}