{% extends 'main/layout.html' %}

{% block title %}
    Про нас
{% endblock %}

{% block content%}
    <div class="features">
        <h1>Наши контакты</h1>
        <p class="contacts_p">Мы в телеграмме:
            <button class="btn_telegramm" href="https://t.me/+7RGRATqdA05kYTIy">Телеграмм</button><br><br>
            Мы в инсте:
            <button class="btn_insta" href="https://en.wikipedia.org/wiki/Instagram">Инстаграм</button>
        </p>
        <button class="btn btn-danger">Просто нажми</button>
    </div>
{% endblock %}